
<h3>Les commerces du réseau <strong> Nice is Nice!</strong></h3>
<p><strong>Découvrez où vous pouvez récolter du cashback</strong></p>

<%# cloudinary::utils.cloudinary_url...... %>
<% @shops.each do |shop| %>
  <% n = 0 %>
  <% shop.photos.each do |photo|
    n += 1
    @shop_img = cl_image_tag photo.key%>
  <% end %>

  <div class="container">
    <div class="card-product">
      <div class="card-product-top">
        <div class="card-product-top-image">
            
            <i class="fas fa-heart position-icon"></i>
        </div>
        <div class="card-product-info">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p><strong> <%= shop.name %> </strong></p>
          <p><%=shop.address%></p>
          <span data-controller="visite-map" data-action="click->visite-map#openNativeMap" data-visite-map-longitude-value="<%= shop.longitude %>" data-visite-map-latitude-value="<%= shop.latitude %>" class="btn-solid"> Y aller </span>
        </div>
      </div>

      <%# <img class="card-product-middle" src=`<%= shop_img %>` alt=""> %>
    </div>
  </div> 
<% end %>
