<div class="navbar-links">
    <div class="nav-container">
    <%# Home %>
      <div class="nav-item">
        <%= link_to root_path, class: "nav-link" do%>
        <%= icon("fas", "home") %>
        <%end%>
      </div>

    <%# Event list %>
    <div class="nav-item">
      <%= link_to "https://www.nicetourisme.com/agenda", class: "nav-link" do%>
      <%= icon("fas", "calendar-alt") %>
      <%end%>
    </div>
  </div>

  <%= simple_form_for @new_cashback, html: {data: {controller: "ticket-submit"}} do |f|%>
    <%= f.label :ticket do %>
      <%# Scan a ticket %>
      <div class="nav-item">
          <%# <%= link_to new_cashback_path, class: "nav-link" do%>
          <%= icon("fas", "plus-circle") %>
          <%# <%end%>
      </div>
    <% end %>
    <%= f.file_field :ticket, accept: "image/*", capture: "environment", data: {action: "change->ticket-submit#submit"}, class: "d-none" %>
  <% end %>

  <div class="nav-container">
    <%# Shop list %>
    <div class="nav-item">
      <%= link_to shops_path, class: "nav-link" do%>
      <%= icon("fas", "store") %>
      <%end%>
    </div>

    <%# Dashboard %>
    <div class="nav-item">
      <%= link_to dashboard_path, class: "nav-link" do%>
        <%= icon("fas", "euro-sign") %>
      <%end%>
    </div>
  </div>
</div>

