<%# Now let's assume you have an Offer model and you want dynamic titles and descriptions for any products#show page. %>
<%# <% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @offer.description %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>
<div class="banner">
  <div class="container">
    <h1>Nice is Nice! </h1>
    <h2>Le cashback citoyen <strong>qui te fait sortir</strong></h2>
  </div>

    <div class="container">
      <h3>Comment l'application fonctionne-t-elle?</h3> 
      <p>1. Scan ton ticket de caisse après achat au sein des commerces locaux niçois. Obtiens 5% de cashback à chaque fois.</p> 
      <p>2. Convertis ton cashback en coupon de réduction</p>
      <p>3. Utilise ton coupon de réduction lors de l'achat d'un billet d'entrée aux évènements culturels niçois </p>
    </div>

  <div class = "scanticket">
    <%= simple_form_for @new_cashback, html: {data: {controller: "ticket-submit"}} do |f|%>
      <%= f.label :ticket, "Scanner un ticket", class: "btn btn-gradient" %>
      <%= f.file_field :ticket, accept: "image/*", capture: "environment", data: {action: "change->ticket-submit#submit"}, class: "d-none" %>
    <% end %>
  </div>
</div>

<div class="toptrois">
  <h2>Top 3 commerces</h2>
</div>

    <% @shops.each do |shop| %>
    <% @shop = shop%>
      <div class="container">
        <div class="card-product">
          <div class="card-product-top">
            <div class="card-product-top-image">
              <%# cl_image_tag(@shop.photos.second.key, :size => '150x150', :crop => :fill) %>           
              <i class="fas fa-heart position-icon"></i>
            </div>
            <div class="card-product-info" style="text-align:center;">
              <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              
              <p><strong><%= link_to shop.name, shop_path(shop)%></strong></p>
              <p><%=shop.address%></p>
              <span data-controller="visite-map" data-action="click->visite-map#openNativeMap" data-visite-map-longitude-value="<%= shop.longitude %>" data-visite-map-latitude-value="<%= shop.latitude %>" class="btn-solid myrendre"> Y aller </span>
            </div>
          </div>

          <div class="card-product-bottom">
            <%= cl_image_tag(@shop.photos.first.key, :size => '290x100',:crop => :fill) %>        
          </div>
        </div>
      </div> 
    <% end %>
  

  <div class="shopsaround">
    <%= link_to "Découvrir les commerces du réseau", shops_path, class: "btn btn-solid myrendre"%>
  </div>


